<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.5/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title> Seomoon 블로그 - 포스트 작성</title>
</head>
<body>

    <div class="container mx-auto">
        <div class="post-write container">

            <div class="post-write header">
                <h1>
                    포스트 작성
                </h1>
                <div class="post-write contents">
                    <input name="title" type="text" placeholder="제목을 입력해 주세요" class="input input-bordered input-success w-full max-w-xs flex" />
                    <textarea name="body" class="textarea textarea-accent flex mx-20" placeholder="내용을 입력해 주세요"></textarea>
                    <button class="btn btn-outline btn-info">작성완료</button>
                </div>
            </div>
        </div>
    </div>


</body>
</html>
